<div class="container">

  <section class="listagem-imoveis-admin">
    <div class="titulo-lista-de-imoveis">
      <h2>Imóveis adicionados ao sistema:</h2>
    </div>

    <div class="lista-de-imoveis">
      <table mat-table [dataSource]="listaimoveis" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome do imóvel </th>
          <td mat-cell *matCellDef="let imovel"> {{imovel.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo do imóvel</th>
          <td mat-cell *matCellDef="let imovel"> {{imovel.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor do imóvel </th>
          <td mat-cell *matCellDef="let imovel"> R$ {{imovel.valor}} </td>
        </ng-container>

        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef> Endereço </th>
          <td mat-cell *matCellDef="let imovel"> Rua {{imovel.endereco[0].rua}}, {{imovel.endereco[0].numero}} - {{imovel.endereco[0].bairro}} / {{imovel.endereco[0].cidade}} - {{imovel.endereco[0].uf}} / {{imovel.endereco[0].cep}}  </td>
        </ng-container>

        <ng-container matColumnDef="actions">

          <mat-header-cell *matHeaderCellDef>

          </mat-header-cell>

          <mat-cell *matCellDef="let imovel">
            <button mat-icon-button  class="buttons-action button-edit" color="primary" [routerLink]="['/admin/add/']">
              <mat-icon>edit</mat-icon>
              Editar
            </button>
            <button mat-icon-button class="buttons-action button-delete" color="warn" (click)="deletarImovel(imovel.id)">
              <mat-icon>delete</mat-icon>
              Deletar
            </button>
          </mat-cell>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </section>

  <section class="adicionar-imoveis">
    <div matTooltip="" class="example-disabled">
      <button  mat-fab extended class="buttons-action corprincipal1" [routerLink]="['/admin/add']">
        <mat-icon >add</mat-icon>
        Adicionar imóvel
      </button>
    </div>
  </section>

</div>
