.listagem-imoveis-admin{
  display: flex;
  border: 1px solid rgba(0,0,0,.2);
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 8px 18px 16px;
  border-radius: 5px;

  div{
    width: 100%;
  }

}
button{
  font-family: 'Wix Madefor Text', sans-serif;
}
table td tr{
  font-family: 'Wix Madefor Text', sans-serif !important;
}

.lista-de-imoveis{
  table{
    padding: 10px;
    border-radius: 5px;
    font-family: 'Wix Madefor Text', sans-serif !important;
    th, td{
      font-family: 'Wix Madefor Text', sans-serif !important;
    }
  }
}

.adicionar-imoveis{
  position: fixed;
  z-index: 99999;
  bottom: 20px;
  right: 30px;
}

.corprincipal1{
  background-color: #228c80;
}
